#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# no creds
*.pem

# terraformrc file
terraform.rc
.terraformrc

# lock 
.terraform.lock.hcl

# my files
ejercicios